<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="customers-new-container">

    <header>
        New Customer
    </header>

    <!--div>
        <p>Name: {{ name }}</p>
        <p>Contact name: {{ contactName }}</p>
        <p>Contact phone: {{ contactPhone }}</p>
        <p>Contact email: {{ contactEmail }}</p>
        <p>Logo: {{ logo.file.name }}, size: {{ logo.file.size }}, type: {{ logo.file.type }}</p>
        <p><img ng-src="{{logo.url}}" style="max-width: 100px; max-height: 100px;"/></p>
    </div-->

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <form name="theForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">
                Customer Name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" 
                    ng-model="customer.name"
                    placeholder="Customer Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputContactName" class="col-sm-2 control-label">
                Contact Name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputContactName" 
                    ng-model="customer.contact_name"
                    placeholder="Contact Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputContactPhone" class="col-sm-2 control-label">
                Contact Phone:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputContactPhone" 
                    ng-model="customer.contact_phone"
                    placeholder="Contact Phone">
            </div>
        </div>
        <div class="form-group">
            <label for="inputContactEmail" class="col-sm-2 control-label">
                Contact Email:
            </label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputContactEmail" 
                    ng-model="customer.contact_email"
                    placeholder="Contact Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLogo" class="col-sm-2 control-label">
                Customer Logo:
            </label>
            <div class="col-sm-10">
                <img ng-src="{{ customer.logo.url || 'static/img/avatar.png' }}"
                    class="img-thumbnail"
                    style="max-width: 52px; max-height: 52px;"
                    onclick="$('#inputLogo').trigger('click')">
                <input type="file" class="form-control" id="inputLogo" 
                    style="display: none; "
                    ng-model="customer.logo"
                    file-upload
                    placeholder="Customer Logo">
            </div>
            <!--div class="col-sm-10">
                <input type="file" class="form-control" id="inputLogo" 
                    ng-model="logo"
                    file-upload
                    placeholder="Customer Logo">
            </div-->
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submit()">
                    Submit
                </button>
            </div>
        </div>
    </form>

</div>
