<div class="customers-view-container">

    <header>
        Customers 
        <button class="btn btn-default" ng-click="onAddCustomerBtnClicked()">
            Add Customer
        </button>
    </header>
    <ul class="item-list">
        <li ng-repeat="c in customers.items">
            <div class="item-icon">
                <img ng-src="/customers/{{c._id}}/logo" 
                    class="img-thumbnail"
                    onerror="this.src='static/img/avatar.png'"/>
            </div>
            <div class="item-body">
                <h4 class="item-header">
                    <a ui-sref="customers_details({id: c._id})">{{c.name}}</a>
                </h4>
                <p>{{ customers.events_count[c._id] || 0 }} Users</p>
                <p>{{ customers.events_count[c._id] || 0 }} Events</p>
            </div>
        </li>
    </ul>

</div>