<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="customers-new-container">

    <header>
        {{ customer.name }} 
        <button class="btn btn-default" 
            ng-click="edit()" 
            ng-show="!editable">
            Edit
        </button>
    </header>

    <!-- <div>{{ customer }}</div> -->

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <form name="theForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">
                Customer Name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" 
                    ng-model="customer.name"
                    ng-disabled="!editable"
                    placeholder="Customer Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputContactName" class="col-sm-2 control-label">
                Contact Name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputContactName" 
                    ng-model="customer.contact_name"
                    ng-disabled="!editable"
                    placeholder="Contact Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputContactPhone" class="col-sm-2 control-label">
                Contact Phone:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputContactPhone" 
                    ng-model="customer.contact_phone"
                    ng-disabled="!editable"
                    placeholder="Contact Phone">
            </div>
        </div>
        <div class="form-group">
            <label for="inputContactEmail" class="col-sm-2 control-label">
                Contact Email:
            </label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputContactEmail" 
                    ng-model="customer.contact_email"
                    ng-disabled="!editable"
                    placeholder="Contact Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLogo" class="col-sm-2 control-label">
                Customer Logo:
            </label>
            <div class="col-sm-10">
                <img ng-src="{{ customer.logo.url || '/customers/' + customer._id + '/logo'  || 'static/img/avatar.png' }}"
                    class="img-thumbnail"
                    style="max-width: 52px; max-height: 52px;"
                    onclick="$('#inputLogo').trigger('click')">
                <input type="file" class="form-control" id="inputLogo" 
                    style="display: none; "
                    ng-model="customer.logo"
                    ng-disabled="!editable"
                    file-upload
                    placeholder="Customer Logo">
            </div>
        </div>
        <!--div class="form-group">
            <div>
                URL: {{ customer.logo.url }}
            </div>
        </div-->
        <div class="form-group" ng-show="!!editable">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" 
                    ng-disabled="theForm.$pristine"
                    ng-click="submit()">
                    Submit
                </button>
                <button class="btn btn-default" 
                    ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>

</div>
