<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="container" id="events-tickets">

    <header>
        {{ event.name }} :: Tickets
    </header>

    <div ng-include="'static/partials/events.tabs.html'"/>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <!-- <div>Photos: {{ photos }}</div> -->
    <!-- <div>{{ ticket }}</div> -->

    <div class="row">

        <div class="col-md-4">
            <form name="theForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Input Box Vertical Position:
                    </label>
                    <div class="col-md-4">
                        <input 
                            class="form-control"
                            type="number" 
                            ng-model="event.ticket_top" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Input Box Horizontal Position:
                    </label>
                    <div class="col-md-4">
                        <input 
                            class="form-control"
                            type="number" 
                            ng-model="event.ticket_left" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Input Box Width:
                    </label>
                    <div class="col-md-4">
                        <input 
                            class="form-control"
                            type="number" 
                            ng-model="event.ticket_width" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Input Box Height:
                    </label>
                    <div class="col-md-4">
                        <input 
                            class="form-control"
                            type="number" 
                            ng-model="event.ticket_height" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Ticket Body:
                    </label>
                    <div class="col-md-6">
                        <!--img nowcam-img url="ticket_body" ng-src="{{ ticket_body || '/events/' + event._id + '/ticket_body' }}" id="ticket-body-img" /-->
                        <img ng-src="{{ getTicketImgSrc() }}"
                            class="img-thumbnail"
                            style="max-width: 52px; max-height: 52px;"
                            onclick="$('#inputTicket').trigger('click')">
                        <input type="file" class="form-control" id="inputTicket" 
                            style="display: none; "
                            ng-model="file_upload.ticket_body"
                            file-upload
                            placeholder="Ticket Body">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-6">
                        <button class="btn btn-primary" ng-click="save()"
                            ng-disable="!!ui_state.action_in_progress">Save</button>
                        <button class="btn btn-primary" ng-click="cancel()"
                            ng-disable="!!ui_state.action_in_progress">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <label>Ticket Preview:</label>
            <div id="ticket-preview-container">
                <div class="ticket-preview-part">
                    <img ng-src="{{ photos[photos_idx] ? '/photos/' + photos[photos_idx]._id + '/image' : '' }}" ng-click="photos_next()" title="Click to move to next photo" />
                </div>
                <div class="ticket-preview-part">
                    <img ng-src="{{ getTicketImgSrc() }}" />
                </div>
                <div id="code-input-box" ng-style="getCodeInputBoxStyle()" />
            </div>
        </div>

    </div>
</div>



