<div class="form-group">
    <label>{{title}}</label>
</div>
<div class="form-group">
    <div class="col-md-6">
        <select class="form-control" 
            ng-model="data['font-family']" 
            ng-options="f for f in fonts">
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control" 
            ng-model="data['font-size']" 
            ng-options="s for s in sizes">
        </select>
    </div>
    <div class="col-md-3">
        <input class="form-control" 
            colorpicker type="text" 
            ng-model="data['color']" />
    </div>
</div>
