<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>
<div ng-include="'static/partials/events.microsite.toolbar.html'"/>
<div ng-include="'static/partials/events.microsite.pages.html'"/>

<div class="container" id="events-microsite">

    <header>
        {{ event.name }} :: <a ng-href="{{micrositeAbsUrl()}}" target="_blank">Microsite</a>
        <button class="btn btn-default" 
            ng-click="submit()" ng-disabled="ui_state.saving">
            Save
        </button>
    </header>

    <div ng-include="'static/partials/events.tabs.html'"/>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <!--div>{{ event.microsite_css }}</div-->

    <iframe 
        class="microsite-iframe" 
        src="/microsite"
        ng-class="{mobile: isMobileMode()}"
        iframe-onload="iframeLoadedCallBack()"
    >
    </iframe>

</div>
