<div class="events-view-container">

    <header>
        Events
        <button class="btn btn-default" ng-click="onAddEventBtnClicked()">
            Add Event
        </button>
    </header>
    <ul class="item-list">
        <li ng-repeat="e in events.items">
            <div class="item-icon">
                <img src="static/img/event_icon.png"/>
            </div>
            <div class="item-body">
                <h4 class="item-header">
                    <a ng-href="#/events/{{e._id}}">{{e.name}}
                        <span class="label label-default">
                            {{e.active ? 'active' : 'inactive'}}
                        </span>
                    </a>
                </h4>
                <p>Code: {{e.code}}</p>
                <p>Starts: {{e.start_time | date: 'dd-MMM-yyyy HH:mm'}}</p>
                <p>Ends: {{e.end_time | date: 'dd-MMM-yyyy HH:mm'}}</p>
                <p>First photo taken: {{e.first_photo_taken | date: 'dd-MMM-yyyy HH:mm'}}</p>
                <p>Last photo taken: {{e.last_photo_taken | date: 'dd-MMM-yyyy HH:mm'}}</p>
            </div>
        </li>
    </ul>

</div>