<div id="events-microsite-pages">

    <div class="list-group">
        <button type="button" 
            class="list-group-item" 
            ng-click="activatePage('/enter-code')"
            ng-class="{disabled: !event.microsite_css.enter_code}">
            <input type="checkbox" ng-model="event.microsite_css.enter_code" />
            Enter Code
        </button>
        <button type="button" 
            class="list-group-item" 
            ng-click="activatePage('/gallery')"
            ng-class="{disabled: !event.microsite_css.gallery}">
            <input type="checkbox" ng-model="event.microsite_css.gallery" />
            Gallery
        </button>
        <button type="button" class="list-group-item" ng-click="activatePage('/privacy')">
            Privacy
        </button>
        <button type="button" 
            class="list-group-item" 
            ng-click="activatePage('/data-collection')"
            ng-class="{disabled: !event.microsite_css.data_collection}">
            <input type="checkbox" ng-model="event.microsite_css.data_collection" />
            Data Collection
        </button>
        <button type="button" class="list-group-item" ng-click="activatePage('/sharing')">
            Sharing
        </button>
    </div>

</div>
