<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="container" id="events-stat">

    <header>
        {{ event.name }} :: Statistics
    </header>

    <div ng-include="'static/partials/events.tabs.html'"/>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <!-- <div>Photos: {{ photos }}</div> -->
    <!-- <div>{{ ticket }}</div> -->

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ stat.photos_total_shown }}</span>
                    Photos total displayed:
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ stat.times_printed }}</span>
                    Times printed:
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ stat.times_shared_fb }}</span>
                    Times shared via Facebook:
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ stat.times_shared_tw }}</span>
                    Times shared via Twitter:
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ stat.times_shared_em }}</span>
                    Times shared via Email:
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ stat.times_downloaded }}</span>
                    Times downloaded:
                </li>
            </ul>
        </div>
    </div>
</div>



