<div id="events-microsite-toolbar">
    <!--div>1: {{ file_upload.microsite_logo.url }}</div>
    <div>2: {{ event.microsite_logo }}</div>
    <div>3: {{ !!file_upload.microsite_logo.url && !!event.microsite_logo }}</div-->
    <form>

        <div class="panel-group" bs-collapse>
            <div class="panel panel-default">
                
                <!-- General Styling -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            General Styling
                        </a>
                    </h4>
                    <span class="glyphicon glyphicon-phone pull-right icon-button" 
                          ng-class="{active: isMobileMode()}"
                          ng-click="toggleMobileMode()" />
                    <span class="glyphicon glyphicon-new-window pull-right icon-button" 
                          ng-click="preview()" />
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">

                        <!-- Header Font -->
                        <nowcam-font-setting ng-hide="isMobileMode()"
                            title="Header Font" 
                            data="event.microsite_css.desktop.header"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>
                        <nowcam-font-setting ng-show="isMobileMode()"
                            title="Header Font" 
                            data="event.microsite_css.mobile.header"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                        <!-- Subheader Font -->
                        <nowcam-font-setting ng-hide="isMobileMode()"
                            title="Subheader Font" 
                            data="event.microsite_css.desktop.subheader"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>
                        <nowcam-font-setting ng-show="isMobileMode()"
                            title="Subheader Font" 
                            data="event.microsite_css.mobile.subheader"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                        <!-- Subheader Text -->
                        <div class="form-group">
                            <label>Subheader Text</label>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" ng-model="event.microsite_subheader" />
                            </div>
                        </div>

                        <!-- Logo -->
                        <div class="form-group">
                            <label>Logo</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <img ng-src="{{ getLogoImgSrc() }}"
                                    class="img-thumbnail"
                                    style="max-width: 52px; max-height: 52px;"
                                    onclick="$('#inputLogo').trigger('click')">
                                <input type="file" class="form-control" id="inputLogo" 
                                    style="display: none; "
                                    ng-model="file_upload.microsite_logo"
                                    file-upload
                                    placeholder="Microsite Logo">
                                <a style="font-size: 10px; cursor: pointer;" 
                                    ng-click="removeLogo()" 
                                    ng-show="isRemoveLogoVisible()">Remove</a>
                            </div>
                        </div>

                        
                        <!-- Header Background -->
                        <div class="form-group">
                            <label>Header Background</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.common.topBackground['background-color']" />
                            </div>
                        </div>

                        <!-- Body Background -->
                        <div class="form-group">
                            <label>Body Background</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.common.bodyBackground['background-color']" />
                            </div>
                            <div class="col-md-2">
                                <img ng-src="{{ getBkgImgSrc() }}"
                                    class="img-thumbnail"
                                    style="max-width: 52px; max-height: 52px; margin-top: -25px;"
                                    onclick="$('#inputBkg').trigger('click')">
                                <input type="file" class="form-control" id="inputBkg" 
                                    style="display: none; "
                                    ng-model="file_upload.microsite_bkg"
                                    file-upload
                                    placeholder="Microsite Background Image">
                                <a style="font-size: 10px; cursor: pointer;" 
                                    ng-click="removeBkg()" 
                                    ng-show="isRemoveBkgVisible()">Remove</a>
                            </div>
                        </div>

                        <!-- Footer Background -->
                        <div class="form-group">
                            <label>Footer Background</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.common.bottomBackground['background-color']" />
                            </div>
                        </div>

                        <!-- Footer Font -->
                        <nowcam-font-setting 
                            title="Footer Font" 
                            data="event.microsite_css.desktop.bottomText"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                    </div>
                </div>
            </div>

            <!-- Additional Styling -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            Additional Styling
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">

                        <!-- Location and Date Text -->
                        <div class="form-group">
                            <label>Location and Date Text</label>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" 
                                    ng-model="event.microsite_location_and_date" />
                            </div>
                        </div>

                        <!-- Location and Date Font -->
                        <nowcam-font-setting 
                            title="Location and Date Font" 
                            data="event.microsite_css.desktop.location_and_date"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                        <!-- Photo Code Font -->
                        <nowcam-font-setting 
                            title="Photo Code Font" 
                            data="event.microsite_css.desktop.photo_code"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                        <!-- Button Font -->
                        <nowcam-font-setting 
                            title="Button Font" 
                            data="event.microsite_css.desktop.button"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                        <!-- Button Border -->
                        <div class="form-group">
                            <label>Button Border</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.desktop.button['border-color']" />
                            </div>
                        </div>

                        <!-- Input Box Text Colour -->
                        <div class="form-group">
                            <label>Input Box Text Colour</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.desktop.input['color']" />
                            </div>
                        </div>

                        <!-- Input Box Background Colour -->
                        <div class="form-group">
                            <label>Input Box Background Colour</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.desktop.input['background-color']" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Privacy Policy -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            Privacy Policy
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                        <!-- Privacy Policy Contents -->
                        <div class="form-group">
                            <label>Privacy Policy Contents</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" style="min-height:200px;"
                                    ng-model="event.microsite_privacy_policy" />
                            </div>
                        </div>
                        <!-- Privacy Policy Font -->
                        <nowcam-font-setting 
                            title="Privacy Policy Font" 
                            data="event.microsite_css.desktop.privacy"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                    </div>
                </div>
            </div>

            <!-- Enter Code -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            Enter Code Page
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                        
                        <!-- Find Your Photo Font -->
                        <nowcam-font-setting 
                            title="Find Your Photo Font" 
                            data="event.microsite_css.desktop.find_photo"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                        <!-- Enter Code Button Font -->
                        <nowcam-font-setting 
                            title="Button Font" 
                            data="event.microsite_css.desktop.enter_code_button"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                        <!-- Enter Code Button Border -->
                        <div class="form-group">
                            <label>Button Border</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.desktop.enter_code_button['border-color']" />
                            </div>
                        </div>

                        <!-- Enter Code Input Box Text Colour -->
                        <div class="form-group">
                            <label>Input Box Text Colour</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.desktop.enter_code_input['color']" />
                            </div>
                        </div>

                        <!-- Enter Code Input Box Background Colour -->
                        <div class="form-group">
                            <label>Input Box Background Colour</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" 
                                    colorpicker type="text" 
                                    ng-model="event.microsite_css.desktop.enter_code_input['background-color']" />
                            </div>
                        </div>

                        <!-- Enter Code Background -->
                        <div class="form-group">
                            <label>Background</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input class="form-control" type="checkbox" 
                                    ng-model="event.microsite_css.enter_code_no_gallery" />
                            </div>
                            <label>Do not use Gallery</label>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Data Collection -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            Data Collection
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">

                        <div class="form-group">
                            <label>Data Fields</label>
                        </div>
                        <div class="form-group" ng-repeat="f in event.microsite_data_fields track by $index">
                            <div class="col-md-10">
                                <input class="form-control" type="text" ng-model="event.microsite_data_fields[$index].name" />
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" ng-model="event.microsite_data_fields[$index].is_checkbox" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn btn-default" ng-click="addDataField()">Add</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <!--a class="btn btn-default" ng-href="/events/{{event._id}}/user_data" target="_blank"-->
                                <a class="btn btn-default" ng-click="download_user_data()">
                                    Download results
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Text</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" 
                                    ng-model="event.microsite_data_text" />
                            </div>
                        </div>
                        <nowcam-font-setting
                            title="Text Font and Colour" 
                            data="event.microsite_css.desktop['data-text']"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>

                    </div>
                </div>
            </div>

            <!-- Sharing -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            Sharing
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">

                        <div class="form-group">
                            <label>Sharing Options</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input class="form-control" type="checkbox" 
                                    ng-model="event.microsite_sharing_facebook" />
                            </div>
                            <label>Facebook</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input class="form-control" type="checkbox" 
                                    ng-model="event.microsite_sharing_twitter" />
                            </div>
                            <label>Twitter</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input class="form-control" type="number" max="10" 
                                    ng-model="event.microsite_sharing_emails" />
                            </div>
                            <label>Emails</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input class="form-control" type="checkbox" 
                                    ng-model="event.microsite_sharing_instagram" />
                            </div>
                            <label>Instagram</label>
                        </div>
                        <div class="form-group">
                            <label>Text</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" 
                                    ng-model="event.microsite_sharing_text" />
                            </div>
                        </div>
                        <nowcam-font-setting
                            title="Text Font and Colour" 
                            data="event.microsite_css.desktop['sharing-text']"
                            fonts="fonts"
                            sizes="sizes">
                        </nowcam-font-setting>
                        <div class="form-group">
                            <label>Email Subject</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" 
                                    ng-model="event.microsite_sharing_email_subject" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email Body</label>
                            <div class="col-md-12">
                                <textarea class="form-control" style="min-height:200px;"
                                    ng-model="event.microsite_sharing_email_body" />
                            </div>
                        </div>
                        <div class="form-group" ng-show="!!event.microsite_sharing_twitter">
                            <label>Twitter Text</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" 
                                    ng-model="event.microsite_sharing_twitter_text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <!--br/>
    <br/>
    <div>activeCss: {{activeCss}}</div>
    <div>microsite css: {{event.microsite_css}}</div-->

</div>
