<ul class="nav nav-tabs">
    <li><a href="#/events/{{event._id}}">Details</a></li>
    <li><a href="#/events/{{event._id}}/photos">Photos</a></li>
    <li><a href="#/events/{{event._id}}/tickets">Tickets</a></li>
    <!--li><a href="#/events/{{event.id}}/units">Units</a></li>
    <li><a>Facebook</a></li>
    <li><a>Cover Image</a></li-->
    <li><a href="#/events/{{event._id}}/microsite">Microsite</a></li>
    <li><a href="#/events/{{event._id}}/stat">Statistics</a></li>
    <li><a href="#/events/{{event._id}}/overlay">Overlay</a></li>
</ul>
