<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="events-new-container">

    <header>
        {{ event.name }} :: Details
        <button class="btn btn-default" 
            ng-click="edit()" 
            ng-show="!editable">
            Edit
        </button>
    </header>

    <div ng-include="'static/partials/events.tabs.html'"/>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>


    <form name="theForm" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Event Name:
            </label>
            <div class="col-sm-10">
                <input 
                    type="text"
                    class="form-control"
                    ng-model="event.name"
                    ng-disabled="!editable"
                    placeholder="Event Name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Code:
            </label>
            <div class="col-sm-4">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.code"
                    ng-disabled="!editable"
                    placeholder="Event Code">
            </div>
            <label class="col-sm-2 control-label">
                Customer:
            </label>
            <div class="col-sm-4">
                <select 
                    type="text" 
                    class="form-control" 
                    ng-disabled="!editable"
                    ng-model="event.customer">
                    <option ng-repeat="c in customers" value="{{c._id}}">
                        {{c.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                First photo taken:
            </label>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.first_photo_taken" 
                    ng-disabled="!editable"
                    bs-datepicker
                    data-autoclose="1"
                    data-date-format="dd-MMM-yyyy"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.first_photo_taken" 
                    ng-disabled="!editable"
                    bs-timepicker
                    data-autoclose="1"
                    data-time-format="HH:mm"
                    data-arrow-behavior="picker"
                >
            </div>
            <label class="col-sm-2 control-label">
                Last photo taken:
            </label>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.last_photo_taken" 
                    ng-disabled="!editable"
                    bs-datepicker
                    data-autoclose="1"
                    data-date-format="dd-MMM-yyyy"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.last_photo_taken" 
                    ng-disabled="!editable"
                    bs-timepicker
                    data-autoclose="1"
                    data-time-format="HH:mm"
                    data-arrow-behavior="picker"
                >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Address:
            </label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.address"
                    ng-disabled="!editable"
                    placeholder="Address:">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Description:
            </label>
            <div class="col-sm-10">
                <textarea 
                    class="form-control"
                    rows="3"
                    ng-disabled="!editable"
                    ng-model="event.description"
                    placeholder="Description" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input 
                            type="checkbox" 
                            ng-model="event.active"
                            ng-disabled="!editable"
                        >Active
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Photo Description:
            </label>
            <div class="col-sm-10">
                <textarea 
                    class="form-control"
                    rows="3"
                    ng-model="event.photo_description"
                    ng-disabled="!editable"
                    placeholder="Photo Description" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Start Time:
            </label>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.start_time" 
                    ng-disabled="!editable"
                    bs-datepicker
                    data-autoclose="1"
                    data-date-format="dd-MMM-yyyy"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.start_time" 
                    ng-disabled="!editable"
                    bs-timepicker
                    data-autoclose="1"
                    data-time-format="HH:mm"
                    data-arrow-behavior="picker"
                >
            </div>
            <label class="col-sm-2 control-label">
                End Time:
            </label>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.end_time" 
                    ng-disabled="!editable"
                    bs-datepicker
                    data-autoclose="1"
                    data-date-format="dd-MMM-yyyy"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.end_time" 
                    ng-disabled="!editable"
                    bs-timepicker
                    data-autoclose="1"
                    data-time-format="HH:mm"
                    data-arrow-behavior="picker"
                >
            </div>
        </div>

        <!-- Facebook Settings -->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Facebook Album ID:
            </label>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.fb_album" 
                    ng-disabled="!editable"
                >
            </div>
            <label class="col-sm-2 control-label">
                Facebook Access Token:
            </label>
            <div class="col-sm-6">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.fb_access_token" 
                    ng-disabled="!editable"
                >
            </div>
        </div>

        <div class="form-group" ng-show="!!editable">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" 
                    ng-disabled="theForm.$pristine"
                    ng-click="submit()">
                    Submit
                </button>
                <button class="btn btn-default" 
                    ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>

    </form>

</div>
