<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="events-new-container">

    <header>
        New Event
    </header>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>


    <form name="theForm" class="form-horizontal">

        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">
                Event Name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" 
                    ng-model="event.name"
                    placeholder="Event Name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Code:
            </label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.code"
                    placeholder="Event Code">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Customer:
            </label>
            <div class="col-sm-10">
                <select 
                    type="text" 
                    class="form-control" 
                    ng-model="event.customer">
                    <option ng-repeat="c in customers" value="{{c.id}}">
                        {{c.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                First photo taken:
            </label>
            <div class="col-sm-3">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.first_photo_taken" 
                    bs-datepicker
                    data-autoclose="1"
                    data-date-type="string"
                    data-date-format="dd-MMM-yyyy"
                    data-model-date-format="yyyy-MM-dd"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.first_photo_taken" 
                    bs-timepicker
                    data-autoclose="1"
                    data-time-type="string"
                    data-time-format="hh:mm"
                    data-model-time-format="HH:mm"
                    data-arrow-behavior="picker"
                >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Last photo taken:
            </label>
            <div class="col-sm-3">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.last_photo_taken" 
                    bs-datepicker
                    data-autoclose="1"
                    data-date-type="string"
                    data-date-format="dd-MMM-yyyy"
                    data-model-date-format="yyyy-MM-dd"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.last_photo_taken" 
                    bs-timepicker
                    data-autoclose="1"
                    data-time-type="string"
                    data-time-format="hh:mm"
                    data-model-time-format="HH:mm"
                >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Address:
            </label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.address"
                    placeholder="Address:">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Description:
            </label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.description"
                    placeholder="Description">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="event.active">Active
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Photo Description:
            </label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.photo_description"
                    placeholder="Photo Description">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Start Time:
            </label>
            <div class="col-sm-3">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.start_time" 
                    bs-datepicker
                    data-autoclose="1"
                    data-date-type="string"
                    data-date-format="dd-MMM-yyyy"
                    data-model-date-format="yyyy-MM-dd"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.start_time" 
                    bs-timepicker
                    data-autoclose="1"
                    data-time-format="HH:mm"
                >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                End Time:
            </label>
            <div class="col-sm-3">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.end_time" 
                    bs-datepicker
                    data-autoclose="1"
                    data-date-type="string"
                    data-date-format="dd-MMM-yyyy"
                    data-model-date-format="yyyy-MM-dd"
                >
            </div>
            <div class="col-sm-2">
                <input 
                    type="text" 
                    class="form-control"
                    ng-model="event.end_time" 
                    bs-timepicker
                    data-autoclose="1"
                    data-time-format="HH:mm"
                >
            </div>
        </div>

<!--
    fb_config = db.EmbeddedDocumentField(FBConfig)
    fb_autoupload = db.BooleanField(default=False)
    cover_image
-->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submit()">
                    Submit
                </button>
            </div>
        </div>
    </form>

</div>
