<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="container" id="events-overlay">

    <header>
        {{ event.name }} :: Overlay
    </header>

    <div ng-include="'static/partials/events.tabs.html'"/>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <div class="row">

        <div class="col-md-4">
            <form name="theForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Overlay Image:
                    </label>
                    <div class="col-md-6">
                        <img ng-src="{{ getOverlayImgSrc() }}"
                            class="img-thumbnail"
                            style="max-width: 52px; max-height: 52px;"
                            onclick="$('#inputOverlay').trigger('click')">
                        <input type="file" class="form-control" id="inputOverlay" 
                            style="display: none; "
                            ng-model="file_upload.overlay"
                            file-upload
                            placeholder="Overlay Image">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-6">
                        <button class="btn btn-primary" ng-click="save()" 
                            ng-disabled="!!ui_state.action_in_progress">Save</button>
                        <button class="btn btn-primary" ng-click="cancel()"
                            ng-disabled="!!ui_state.action_in_progress">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <label>Overlay Preview:</label>
            <div id="overlay-preview-container">
                <div class="overlay-preview-part">
                    <img ng-src="{{ getOverlayImgSrc() }}" style="max-width: 600px;" />
                </div>
            </div>
        </div>

    </div>
</div>



