<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="container events-photos-container">

    <header>
        {{ event.name }} :: Photos
        <button class="btn btn-default" 
            ng-click="submit()"
            ng-disabled="ui_state.action_in_progress">
            Save
        </button>
        <button class="btn btn-default" 
            ng-click="load_photos()"
            ng-disabled="ui_state.action_in_progress">
            Refresh
        </button>
        <input class="search pull-right" type="text" placeholder="Search by photo code" ng-model="code" />
    </header>

    <div ng-include="'static/partials/events.tabs.html'"/>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <!--div>Total photos: {{ photos.total }}</div>
    <div>Total pages: {{ total_pages() }}</div>
    <div>Enum pages: {{ enum_pages() }}</div>
    <div>Has prev: {{ has_prev() }}</div>
    <div>Has next: {{ has_next() }}</div>
    <div>{{ start_page + 5 }}</div-->

    <div class="inner">
        <div class="row">
            <div class="col-md-3" ng-repeat="p in photos.items">
                <div class="thumbnail">
                    <img ng-src="photos/{{p._id}}/thumbnail" ng-style="{'opacity': p.hidden ? 0.2 : 1}">
                    <span>{{p.code}}</span>
                    <label>
                        <input type="checkbox" ng-model="p.hidden">
                        <span>Hide</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <nav>
            <ul class="pagination">
                <li ng-class="{disabled: !has_prev()}" ng-click="prev()">
                    <a><span>&laquo;</span></a>
                </li>
                <li 
                    ng-repeat="n in enum_pages() track by $index" 
                    ng-class="{active: n === current_page}"
                    ng-click="set_current_page(n)">
                    <a>{{ n + 1 }}</a>
                </li>
                <li ng-class="{disabled: !has_next()}" ng-click="next()">
                    <a><span>&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </footer>

</div>
