<div id="login-logo"></div>
<div id="login-form-container">
    <form>
        <div class="form-group">
            <!--label for="login">Username</label-->
            <input type="email" ng-model="username" id="login" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <!--label for="password">Password</label-->
            <input type="password" ng-model="password" id="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="login()">Sign in</button>
    </form>
    <script>$('#login').focus()</script>
    <div id="login-forgot-password">
        <p>Help: <a href="/forgot_password">I forgot my password</a></p>
    </div>
</div>
