<div id="page-header">
    <div id="page-header-container">
        <div id="page-logo">
            <img src="static/img/NowCamLogo_130x80.png"/>
        </div>
        <div ui-view="search" />
        <div>
            <a href="static/NowcamMediahubSetup.bat" class="pull-right" style="margin-top: 30px;">
                NowcamMediahub Setup
            </a>
        </div>
    </div>
</div>
