<div id="page-sidebar">
    <ul>
        <li>
            <a ui-sref="main.customers" 
                ng-class="{ active: $state.current.name.indexOf('customers') !== -1 }">
                <span class="glyphicon glyphicon-user"/>
                Customers
            </a>
        </li>
        <li>
            <a ui-sref="units"
                ng-class="{ active: $state.current.name.indexOf('units') !== -1 }">
                <span class="glyphicon glyphicon-camera"/>
                Units
            </a>
        </li>
        <li>
            <a ui-sref="main.events"
                ng-class="{ active: $state.current.name.indexOf('events') !== -1 }">
                <span class="glyphicon glyphicon-ok"/>
                Events
            </a>
        </li>
        <li>
            <a ui-sref="settings"
                ng-class="{ active: $state.current.name.indexOf('settings') !== -1 }">
                <span class="glyphicon glyphicon-cog"/>
                Settings
            </a>
        </li>
    </ul>
</div>
