<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="settings-view-container">

    <header>
        Settings
        <button class="btn btn-default" ng-click="save()">
            Save
        </button>
    </header>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <form name="theForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Site URL:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" 
                    ng-model="settings.site_url">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Facebook Application ID:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" 
                    ng-model="settings.facebook_app_id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Facebook Application Secret:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    ng-model="settings.facebook_app_secret">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Twitter Application ID:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" 
                    ng-model="settings.twitter_app_id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Twitter Application Secret:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    ng-model="settings.twitter_app_secret">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                SMTP From:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    ng-model="settings.smtp_from">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                SMTP Host:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    ng-model="settings.smtp_host">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                SMTP Port:
            </label>
            <div class="col-sm-2">
                <input type="text" class="form-control"
                    ng-model="settings.smtp_port">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                SMTP User:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    ng-model="settings.smtp_user">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                SMTP Password:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    ng-model="settings.smtp_password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input 
                            type="checkbox" ng-model="settings.smtp_ssl"
                        > SMTP SSL
                    </label>
                </div>
            </div>
        </div>

    </form>

</div>