<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="units-new-container">

    <header>
        New Unit
    </header>

    <!--div>
        <p>Name: {{ name }}</p>
        <p>Contact name: {{ contactName }}</p>
        <p>Contact phone: {{ contactPhone }}</p>
        <p>Contact email: {{ contactEmail }}</p>
        <p>Logo: {{ logo.file.name }}, size: {{ logo.file.size }}, type: {{ logo.file.type }}</p>
        <p><img ng-src="{{logo.url}}" style="max-width: 100px; max-height: 100px;"/></p>
    </div-->

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <form name="theForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">
                Unit Name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" 
                    ng-model="unit.name"
                    placeholder="Unit Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMac" class="col-sm-2 control-label">
                Mac Address:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMac" 
                    ng-model="unit.mac"
                    placeholder="Mac Address">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCode" class="col-sm-2 control-label">
                Code:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCode" 
                    ng-model="unit.code"
                    placeholder="Unit Code">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">
                Description:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDescription" 
                    ng-model="unit.description"
                    placeholder="Unit Description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="unit.active">Active
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submit()">
                    Submit
                </button>
            </div>
        </div>
    </form>

</div>
