<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="units-new-container">

    <header>
        {{ unit.name }} 
        <button class="btn btn-default" 
            ng-click="edit()" 
            ng-show="!editable">
            Edit
        </button>
    </header>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <form name="theForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">
                Unit Name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" 
                    ng-model="unit.name"
                    ng-disabled="!editable"
                    placeholder="Unit Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMac" class="col-sm-2 control-label">
                Mac Address:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMac" 
                    ng-model="unit.mac"
                    ng-disabled="!editable"
                    placeholder="Mac Address">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCode" class="col-sm-2 control-label">
                Code:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCode" 
                    ng-model="unit.code"
                    ng-disabled="!editable"
                    placeholder="Unit Code">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">
                Description:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDescription" 
                    ng-model="unit.description"
                    ng-disabled="!editable"
                    placeholder="Unit Description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="unit.active"
                            ng-disabled="!editable">Active
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="!!editable">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" 
                    ng-disabled="theForm.$pristine"
                    ng-click="submit()">
                    Submit
                </button>
                <button class="btn btn-default" 
                    ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>

</div>
