<div ng-include="'static/partials/page.header.html'"/>
<div ng-include="'static/partials/page.sidebar.html'"/>

<div class="units-view-container">

    <header>
        Units
        <button class="btn btn-default" ng-click="onAddUnitBtnClicked()">
            Add Unit
        </button>
    </header>
    <ul class="item-list">
        <li ng-repeat="u in units.items">
            <div class="item-body">
                <h4 class="item-header">
                    <a ui-sref="units_details({id: u._id})">{{u.name}} 
                        <span class="label label-default"> 
                            {{u.active ? 'active' : 'inactive'}}
                        </span>
                    </a>
                </h4>
                <p>Mac: {{u.mac}}</p>
                <p>Description: {{u.description}}</p>
            </div>
        </li>
    </ul>

</div>