
<div ng-include="'static/microsite.header.html'"/>

<div class="container-fluid" id="main">

    <div ng-include="'static/microsite.subheader.html'"/>

    <div class="row" ng-show="photo_group_mode">
        <div class="col-md-2 col-md-offset-5 col-xs-8 col-xs-offset-2" 
            style="margin-bottom: 5px;">
            <a class="btn btn-default center-block" 
                ng-href="/photos/download?event_id={{event._id}}&amp;code={{code}}"
                download="{{code}}.zip"
                ng-disabled="ui_state.action_in_progress">
                Download
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="container-fluid">
                <div class="row">
                    <div ng-repeat="p in photos" 
                        class="col-xs-{{image_width_from_index(photos, $index)}} img-container">
                        <img ng-src="/photos/{{p._id}}/thumbnail" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12" ng-show="!photo_group_mode" style="margin-top:5px;text-align:justify">    
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12" style="margin-bottom: 10px;" 
                        ng-style="getStyle('sharing-text')">
                        {{ event.microsite_sharing_text }}
                    </div>
                </div>
                <div class="row" ng-repeat="i in range(event.microsite_sharing_emails) track by $index">
                    <div class="col-xs-12" style="margin-bottom: 10px;">
                        <input type="text" name="email" placeholder="Email Address" 
                            ng-style="getStyle('input')"
                            ng-show="!status.email_sent">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-6" style="margin-bottom: 10px;">
                        <button class="btn reg-btn" ng-style="getStyle('button')" 
                            ng-click="email_share(photo._id)" ng-show="show_email_btn()"
                            ng-disabled="ui_state.action_in_progress">
                            EMAIL
                        </button>
                        <span  ng-show="!!status.email_sent" ng-style="getStyle('subheader')">
                            Your photo has been sent to your email
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-6" style="margin-bottom: 10px;">
                        <img src="/static/img/fb.png" class="social-btn" 
                            ng-show="event.microsite_sharing_facebook" 
                            ng-click="ui_state.action_in_progress ? '' : fb_share(photo._id)" 
                            />
                        <img src="/static/img/tw.png" class="social-btn" 
                            ng-show="event.microsite_sharing_twitter" 
                            ng-click="ui_state.action_in_progress ? '' : tw_share(photo._id)" 
                            />
                        <a ng-href="/photos/{{photo._id}}/download_image" download="{{photo.code}}.jpg"
                            ng-disabled="ui_state.action_in_progress">
                            <img src="/static/img/ig.png" class="social-btn" 
                                ng-show="event.microsite_sharing_instagram" 
                                />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'static/microsite.footer.home.gallery.html'"/>
