<div class="navbar navbar-default navbar-fixed-bottom" 
    ng-style="getStyle('bottomBackground')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6" 
                ng-style="getStyle('bottomText')"
                id="bottom-text">
                <span ng-click="goto('privacy')" style="cursor:pointer">PRIVACY POLICY</span>
            </div>
            <div class="col-xs-6" 
                ng-style="getStyle('bottomText')"
                id="bottom-text">
                <span ng-click="goto('gallery')" style="cursor:pointer; text-align: center;">PHOTO GALLERY</span>
            </div>
        </div>
    </div>
</div>
