
<div ng-include="'static/microsite.header.html'" />

<div class="container-fluid" id="main">

    <div ng-include="'static/microsite.subheader.html'"/>

    <!--div>{{event}}</div-->

    <div class="row">
        <div ng-repeat="p in photos" class="col-md-2 col-sm-2 col-xs-4 img-container"
            ng-click="gotoNext(p)">
            <img ng-src="/photos/{{p._id}}/thumbnail" style="width: 214px; height: 136px;"></img>
        </div>
    </div>
</div>

<div ng-include="'static/microsite.footer.privacy.html'"/>

