<div class="navbar navbar-default navbar-fixed-top" ng-style="getStyle('topBackground')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <img ng-src="/events/{{event._id}}/microsite_logo" ng-click="goHome()" id="logo" />
            </div>
            <div class="col-xs-8">
                <div ng-style="getStyle('header')" id="header">{{event.name}}</div>
                <div ng-style="getStyle('subheader')" id="subheader">{{event.microsite_subheader}}</div>
            </div>
        </div>
    </div>
</div>
