<div class="row">
    <div class="col-xs-offset-4 col-xs-4">
        <div class="center" id="photo-code" ng-style="getStyle('photo_code')" ng-hide="hidePhotoCode">
            {{ photo_code }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-4 col-xs-4">
        <div class="center" id="location-and-date" ng-style="getStyle('location_and_date')" style="margin-bottom:13px;">
            {{ event.microsite_location_and_date }}
        </div>
    </div>
</div>
