
<div ng-include="'static/microsite.header.html'"/>

<div class="container-fluid" id="main">
    <div class="row" ng-style="getStyle('bodyBackground')">
        <div class="col-xs-offset-4 col-xs-4">
            <div id="location-date" ng-style="getStyle('subheader')">
                Privacy Policy
            </div>
        </div>
    </div>
    <div class="row" ng-style="getStyle('privacy')">
        <div class="col-xs-offset-1 col-xs-10" 
            ng-bind-html="event.microsite_privacy_policy" style="text-align:justify;"></div>
    </div>
</div>

<div ng-include="'static/microsite.footer.home.gallery.html'" ng-if="event.microsite_css.gallery" />
