
<div class="container-fluid" id="main">
    <div class="row" ng-style="getStyle('bodyBackground')">
        <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
            <img ng-src="/events/{{event._id}}/microsite_logo" 
                style="width: 100%; max-width: 600px; max-height: 600px; position: relative; left: 50%; transform: translate(-50%,0)" />
        </div>
    </div>
    <div class="row" ng-style="getStyle('bodyBackground')">
        <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8"
            style="margin-top: 20px; text-align: center; font-weight: bold;" 
            ng-style="getStyle('find_photo')">
            FIND YOUR PHOTO
        </div>
    </div>
    <div class="row" ng-style="getStyle('bodyBackground')">
        <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8"
            style="margin-top: 20px;">
            <input type="text" 
                class="center uppercase"
                placeholder="Enter your code" 
                style="width: 100%;" 
                ng-style="getStyle('input')"
                ng-model="photo_code" />
        </div>
    </div>
    <div class="row" ng-style="getStyle('bodyBackground')">
        <div class="col-sm-offset-5 col-sm-2 col-xs-offset-2 col-xs-8"
            style="margin-top: 20px">
            <button class="btn reg-btn" 
                ng-style="getStyle('button')"
                style="width:100%" 
                ng-click="submit()" >
                SUBMIT
            </button>
        </div>
    </div>
</div>

<div ng-include="'static/microsite.footer.gallery.privacy.html'"/>

