
<div ng-include="'static/microsite.header.html'"/>

<div class="container-fluid" id="main">

    <div ng-include="'static/microsite.subheader.html'"/>

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <img ng-src="/photos/{{photos[0]._id}}/image"
                style="
                    max-width: 100%;
                    height: auto;
                "></img>
        </div>
        <div class="col-sm-6 col-xs-12">
        
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12" style="margin-bottom: 10px;" 
                        ng-style="getStyle('data-text')">
                        {{ event.microsite_data_text }}
                    </div>
                </div>
                <div class="row">
                    <form name="theForm">
                        <div class="col-sm-12 col-xs-6"  style="margin-bottom: 10px; padding-right: 0;"
                            ng-repeat="f in event.microsite_data_fields">
                            <input type="text" placeholder="{{f.name}}" 
                                ng-style="getStyle('input')"
                                ng-model="user_data[f.name]" 
                                ng-if="!f.is_checkbox"
                                required>
                            <div class="checkbox" ng-if="f.is_checkbox">
                                <label ng-style="getStyle('data-text')">
                                    <input type="checkbox" ng-style="getStyle('input')"
                                        ng-model="user_data[f.name]" required>{{f.name}}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-6">
                            <button class="btn reg-btn" ng-style="getStyle('button')" 
                                ng-click="gotoNext()" ng-disabled="!theForm.$valid">
                                SUBMIT
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-include="'static/microsite.footer.home.gallery.html'" ng-if="event.microsite_css.gallery" />

