body {
  background-color: #f3f1ec;
  /*text-align: left;*/
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif;
}
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.view-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.view-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.view-container header button {
  float: right;
  margin-right: 10px;
}
footer {
  background: none repeat scroll 0 0 #fcf4eb;
  border-top: 1px solid #DADEE5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.list-view-container ul.item-list {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.list-view-container ul.item-list li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-collapse: collapse;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #333333;
}
.list-view-container ul.item-list li .item-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.list-view-container ul.item-list li .item-body {
  display: inline-block;
  width: 300px;
}
.list-view-container ul.item-list li .item-body .item-header {
  font-size: 15px;
  font-weight: bold;
}
.list-view-container ul.item-list li .item-body p {
  font-size: 12px;
  margin-bottom: 5px;
}
.form-view-container form {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
.form-view-container .form-control[disabled] {
  cursor: default;
}
.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}
#page-header {
  width: 100%;
  height: 82px;
  background: #f3f1ec;
  background: linear-gradient(#f3f1ec, #dedcd6);
}
#page-header-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1100px;
}
#page-logo {
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 0;
}
#page-add-btn {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: 200px;
}
#page-search {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: 265px;
}
#page-search input.search {
  border-radius: 14px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  width: 300px;
}
#page-logged-in {
  position: absolute;
  display: inline-block;
  top: 33px;
  right: 47px;
  width: 183px;
  font-size: 12px;
  text-align: right;
}
#page-settings {
  position: absolute;
  display: inline-block;
  top: 30px;
  right: 4px;
}
#login-logo {
  width: 226px;
  height: 152px;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translate(-50%, 0);
  background-image: url('/static/img/NowCamLogo.gif');
}
#login-form-container {
  width: 336px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #AAA;
  -moz-box-shadow: 0 0 6px #999;
  -webkit-box-shadow: 0 0 6px #999;
  box-shadow: 0 0 6px #999;
}
#login-form-container form {
  padding: 20px;
}
#login-forgot-password {
  width: 300px;
  margin: auto;
  padding-top: 5px;
  border-top: 1px solid #DDDDDD;
  font-size: 13px;
}
.customers-view-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.customers-view-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.customers-view-container header button {
  float: right;
  margin-right: 10px;
}
.customers-view-container ul.item-list {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.customers-view-container ul.item-list li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-collapse: collapse;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #333333;
}
.customers-view-container ul.item-list li .item-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.customers-view-container ul.item-list li .item-body {
  display: inline-block;
  width: 300px;
}
.customers-view-container ul.item-list li .item-body .item-header {
  font-size: 15px;
  font-weight: bold;
}
.customers-view-container ul.item-list li .item-body p {
  font-size: 12px;
  margin-bottom: 5px;
}
.customers-new-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.customers-new-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.customers-new-container header button {
  float: right;
  margin-right: 10px;
}
.customers-new-container form {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
.customers-new-container .form-control[disabled] {
  cursor: default;
}
.customers-details-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.customers-details-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.customers-details-container header button {
  float: right;
  margin-right: 10px;
}
.units-view-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.units-view-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.units-view-container header button {
  float: right;
  margin-right: 10px;
}
.units-view-container ul.item-list {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.units-view-container ul.item-list li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-collapse: collapse;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #333333;
}
.units-view-container ul.item-list li .item-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.units-view-container ul.item-list li .item-body {
  display: inline-block;
  width: 300px;
}
.units-view-container ul.item-list li .item-body .item-header {
  font-size: 15px;
  font-weight: bold;
}
.units-view-container ul.item-list li .item-body p {
  font-size: 12px;
  margin-bottom: 5px;
}
.units-new-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.units-new-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.units-new-container header button {
  float: right;
  margin-right: 10px;
}
.units-new-container form {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
.units-new-container .form-control[disabled] {
  cursor: default;
}
.units-details-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.units-details-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.units-details-container header button {
  float: right;
  margin-right: 10px;
}
.events-view-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.events-view-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.events-view-container header button {
  float: right;
  margin-right: 10px;
}
.events-view-container ul.item-list {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.events-view-container ul.item-list li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-collapse: collapse;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #333333;
}
.events-view-container ul.item-list li .item-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.events-view-container ul.item-list li .item-body {
  display: inline-block;
  width: 300px;
}
.events-view-container ul.item-list li .item-body .item-header {
  font-size: 15px;
  font-weight: bold;
}
.events-view-container ul.item-list li .item-body p {
  font-size: 12px;
  margin-bottom: 5px;
}
.events-new-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.events-new-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.events-new-container header button {
  float: right;
  margin-right: 10px;
}
.events-new-container form {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
.events-new-container .form-control[disabled] {
  cursor: default;
}
.events-details-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.events-details-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.events-details-container header button {
  float: right;
  margin-right: 10px;
}
.events-microsite-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.events-microsite-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.events-microsite-container header button {
  float: right;
  margin-right: 10px;
}
.events-microsite-container .inner {
  padding: 15px;
  padding-left: 35px;
  padding-right: 40px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  height: 100%;
}
.settings-view-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.settings-view-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.settings-view-container header button {
  float: right;
  margin-right: 10px;
}
.settings-view-container form {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
.settings-view-container .form-control[disabled] {
  cursor: default;
}
#page-sidebar {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-550px, 0);
  width: 140px;
}
#page-sidebar ul {
  padding-left: 10px;
}
#page-sidebar ul li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
#page-sidebar ul li a {
  color: #555555;
  text-shadow: 0 1px 1px #FFFFFF;
  text-decoration: none;
  font-size: 13px;
}
#page-sidebar ul li a.active {
  font-weight: bold;
}
#page-sidebar ul li a.active span {
  font-weight: bold;
}
#page-sidebar ul li:hover a {
  color: #080808;
}
#page-sidebar ul li:hover .active {
  color: #555555;
}
#events-tickets {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
#events-tickets header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
#events-tickets header button {
  float: right;
  margin-right: 10px;
}
#events-tickets .row {
  margin-top: 20px;
}
#events-tickets form {
  margin-left: 10px;
}
#events-tickets .grayscale {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
#events-tickets #ticket-body-img {
  max-width: 80px;
  cursor: pointer;
}
#events-tickets .ticket-preview-part {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  position: relative;
}
#events-tickets .ticket-preview-part img {
  width: 100%;
}
#events-tickets #ticket-preview-container {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-bottom: 50px;
  position: relative;
}
#events-tickets #code-input-box {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 0px;
  left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  background-color: rgba(10, 10, 10, 0.2);
  /*        span {
            width: 100%;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
*/
}
#events-microsite {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
  overflow: hidden;
}
#events-microsite header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
#events-microsite header button {
  float: right;
  margin-right: 10px;
}
#events-microsite .microsite-iframe {
  width: 100%;
  border: none;
  min-height: 700px;
}
#events-microsite .mobile {
  width: 320px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
#events-microsite-toolbar {
  width: 245px;
  height: 414px;
  position: absolute;
  top: 222px;
  left: 31px;
  /* border-top-left-radius: 5px; */
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
#events-microsite-toolbar label {
  font-size: 12px;
}
#events-microsite-toolbar h4.panel-title {
  display: inline-block;
  cursor: pointer;
}
#events-microsite-toolbar .icon-button {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
#events-microsite-toolbar .form-control {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  padding: 3px;
}
#events-microsite-toolbar .form-group {
  margin-bottom: 0px;
}
#events-microsite-toolbar .form-group label {
  margin-left: 5px;
}
#events-microsite-toolbar .form-group .col-md-3 {
  padding-left: 5px;
  padding-right: 5px;
}
#events-microsite-toolbar .form-group .col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}
#events-microsite-toolbar .active {
  color: #337AB7;
}
#events-microsite-pages {
  width: 139px;
  height: 117px;
  background-color: #fff;
  position: absolute;
  top: 266px;
  right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 12px;
}
#events-stat {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
#events-stat header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
#events-stat header button {
  float: right;
  margin-right: 10px;
}
#events-stat .row {
  margin-top: 20px;
}
.events-photos-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
.events-photos-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.events-photos-container header button {
  float: right;
  margin-right: 10px;
}
.events-photos-container .inner {
  padding: 15px;
  padding-left: 35px;
  padding-right: 40px;
}
.events-photos-container .inner .thumbnail img {
  width: 214px;
  height: 136px;
}
.events-photos-container .inner .thumbnail span {
  font-weight: normal;
  font-size: 12px;
}
.events-photos-container .inner .thumbnail label {
  margin-top: 8px;
  /*margin-left: 70px;*/
  float: right;
}
.events-photos-container .inner .thumbnail label input[type="checkbox"] {
  margin-right: 1px;
  vertical-align: 1px;
}
.events-photos-container .inner .thumbnail label span {
  font-weight: normal;
  font-size: 12px;
}
.events-photos-container input.search {
  border-radius: 14px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  width: 150px;
  margin-right: 10px;
  font-size: 12px;
}
.events-photos-container footer nav ul.pagination {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.events-photos-container footer nav ul.pagination li {
  cursor: pointer;
}
#events-overlay {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-410px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 790px;
  padding: 0;
}
#events-overlay header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
#events-overlay header button {
  float: right;
  margin-right: 10px;
}
#events-overlay .row {
  margin-top: 20px;
}
#events-overlay form {
  margin-left: 10px;
}
