/////////////////////////////
// Common
/////////////////////////////
body {
    background-color: #f3f1ec;
    /*text-align: left;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif;
}

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

@index-sidebar-width: 140px;
@index-view-width: 960px;
@index-header-width: @index-sidebar-width + @index-view-width;
@index-header-height: 82px;
@view-container-top: 100px;
@view-container-min-height: 790px;

.view-container {
    position: absolute;
    top: @view-container-top;
    left: 50%;
    transform: translate(@index-sidebar-width / 2 - @index-view-width / 2, 0);
    width: @index-view-width;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px #CCCCCC;
    min-height: @view-container-min-height;
    padding: 0;
    header {
        background: none repeat scroll 0 0 #fcf4eb;
        border-bottom: 1px solid #DADEE5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 15px 30px;
        text-shadow: 0 1px 1px white;
        color: #555;
        font-size: 18px;
        button {
            float: right;
            margin-right: 10px;
        }
    }
}

footer {
    background: none repeat scroll 0 0 #fcf4eb;
    border-top: 1px solid #DADEE5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.list-view-container {
    ul.item-list {
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        li{
            list-style: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: rgb(249, 249, 249);
            border-collapse: collapse;
            border-top-color: rgb(221, 221, 221);
            border-top-style: solid;
            border-top-width: 1px;
            border-bottom-color: rgb(221, 221, 221);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            color: rgb(51, 51, 51);
            .item-icon{
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                margin-left: 0px;
            }
            .item-body{
                display: inline-block;
                width: 300px;
                .item-header {
                    font-size: 15px;
                    font-weight: bold;
                }
                p {
                    font-size: 12px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.form-view-container {
    form {
        width: 92%;
        margin: auto;
        margin-top: 40px;
    }
    .form-control[disabled] {
        cursor: default;
    }
}

/////////////////////////////
// DateTime Picker
/////////////////////////////
.timepicker.dropdown-menu {
    padding: 0 4px;
    button {
        outline: none;
        border: 0px;
    }
    tbody button {
        padding: 6px;
    }
}

/////////////////////////////
// page.header.html
/////////////////////////////
#page-header {
    width: 100%;
    height: @index-header-height;
    background: #f3f1ec;
    background: linear-gradient(#f3f1ec, #dedcd6);
}

#page-header-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: @index-header-width;
}

#page-logo {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 0;
}

#page-add-btn {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 200px;
}

#page-search {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 265px;
    input.search {
        border-radius: 14px;
        border-color: rgb(204, 204, 204);
        border-style: solid;
        border-width: 1px;
        padding-bottom: 4px;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 4px;
        width: 300px;
    }
}

#page-logged-in {
    position: absolute;
    display: inline-block;
    top: 33px;
    right: 47px;
    width: 183px;
    font-size:12px;
    text-align:right;
}

#page-settings {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 4px;
}

/////////////////////////////
// login.html
/////////////////////////////
#login-logo {
    width: 226px;
    height: 152px;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 0);
    background-image: url('/static/img/NowCamLogo.gif');
}

#login-form-container {
    width: 336px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #AAA;
    -moz-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
    form {
        padding: 20px;
    }
}

#login-forgot-password {
    width: 300px;
    margin: auto;
    padding-top: 5px;
    border-top: 1px solid #DDDDDD;
    font-size: 13px;
}

//////////////////////
// main.html
//////////////////////

//////////////////////
// customers.html
//////////////////////
.customers-view-container {
    .view-container;
    .list-view-container;
}

//////////////////////
// customers.new.html
//////////////////////
.customers-new-container {
    .view-container;
    .form-view-container;
}

//////////////////////
// customers.details.html
//////////////////////
.customers-details-container {
    .view-container;
}

//////////////////////
// units.html
//////////////////////
.units-view-container {
    .view-container;
    .list-view-container;
}

//////////////////////
// units.new.html
//////////////////////
.units-new-container {
    .view-container;
    .form-view-container;
}

//////////////////////
// units.details.html
//////////////////////
.units-details-container {
    .view-container;
}

//////////////////////
// events.html
//////////////////////
.events-view-container {
    .view-container;
    .list-view-container;
}

//////////////////////
// events.new.html
//////////////////////
.events-new-container {
    .view-container;
    .form-view-container;
}

//////////////////////
// events.details.html
//////////////////////
.events-details-container {
    .view-container;
}

/////////////////////////
// events.microsite.html
/////////////////////////
.events-microsite-container {
    .view-container;
    .inner {
        padding: 15px;
        padding-left: 35px;
        padding-right: 40px;
        border-style: solid;
        border-width: 1px;
        width: 100%;
        height: 100%;
    }

}

//////////////////////
// settings.html
//////////////////////
.settings-view-container {
    .view-container;
    .form-view-container;
}

@import "page.sidebar.less";
@import "events.tickets.less";
@import "events.microsite.less";
@import "events.microsite.toolbar.less";
@import "events.microsite.pages.less";
@import "events.stat.less";
@import "events.photos.less";
@import "events.overlay.less";


