#events-microsite-toolbar {
    width: 245px;
    height: 414px;
    //background-color: #fff;
    position: absolute;
    top: 222px;
    left: 31px;
    //border: 1px solid #ddd;
    //border-radius: 5px;
    /* border-top-left-radius: 5px; */
    // padding: 15px 30px;
    text-shadow: 0 1px 1px white;
    color: #555;
    font-size: 18px;

    label {
        font-size: 12px;
    }

    h4.panel-title {
        display: inline-block;
        cursor: pointer;
    }

    .icon-button {
        font-size: 14px;
        margin-top: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .form-control {
        font-size: 10px;
        height: 20px;
        line-height: 20px;
        padding: 3px;
    }

    .form-group {
        margin-bottom: 0px;
        label {
            margin-left: 5px;
        }
        .col-md-3 {
            padding-left: 5px;
            padding-right: 5px;
        }
        .col-md-6 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .active {
        color: #337AB7;
    }

}


