#events-microsite-pages {
    width: 139px;
    height: 117px;
    background-color: #fff;
    position: absolute;
    top: 266px;
    right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-shadow: 0 1px 1px white;
    color: #555;
    font-size: 12px;
}
