#events-microsite {
    .view-container;
    // margin-top: 40px;
    overflow: hidden;

    .microsite-iframe {
        width: 100%;
        border: none;
        min-height: 700px;
    }

    .mobile {
        width: 320px;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }

}