#events-tickets {
    .view-container;

    .row {
        margin-top: 20px;
    }

    form {
        margin-left: 10px;
    }

    .grayscale {
        -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
        filter: grayscale(100%);
    }

    #ticket-body-img {
        max-width: 80px;
        cursor: pointer;
    }

    .ticket-preview-part {
        img {
            width: 100%;
        }
        .grayscale();
        position: relative;
    }

    #ticket-preview-container {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin-bottom: 50px;
        position: relative;
    }

    #code-input-box {
        position: absolute;
        width: 200px;
        height: 60px;
        top: 0px;
        left: 0px;
        border-style: solid;
        border-width: 1px;
        border-color: blue;
        background-color: rgba(10, 10, 10, 0.2);
/*        span {
            width: 100%;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
*/    }
}






