.events-photos-container {
    .view-container;
    .inner {
        padding: 15px;
        padding-left: 35px;
        padding-right: 40px;
        .thumbnail {
            img {
                width: 214px; 
                height: 136px;
            }
            span {
                font-weight: normal; 
                font-size: 12px;
            }
            label {
                margin-top: 8px; 
                /*margin-left: 70px;*/
                float: right;
                input[type="checkbox"]{
                    margin-right: 1px; 
                    vertical-align: 1px;
                }
                span {
                    font-weight: normal; 
                    font-size: 12px;
                }
            }
        }
    }
    input.search {
        border-radius: 14px;
        border-color: rgb(204, 204, 204);
        border-style: solid;
        border-width: 1px;
        padding-bottom: 4px;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 4px;
        width: 150px;
        margin-right: 10px;
        font-size: 12px;
    }    
    footer {
        nav {
            ul.pagination {
                position: relative;
                left: 50%;
                transform: translate(-50%,0);
                li {
                    cursor: pointer;
                }
            }
        }
    } 
}
