body {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}
input {
  margin-bottom: 3px;
  height: 35px;
  padding-left: 5px;
  border-style: none;
}
input[type=text] {
  width: 100%;
}
input[type=checkbox] {
  height: 15px;
}
.navbar {
  border: 0;
}
.navbar-default {
  background-color: #fff;
}
#main {
  padding-bottom: 65px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 948px;
}
.container-fluid .img-container {
  overflow: hidden;
  padding: 0;
}
.container-fluid .img-container img {
  width: 100%;
  margin: 2px;
}
#logo {
  max-height: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#photo-code {
  margin-top: 10px;
}
#location-and-date {
  margin-bottom: 15px;
}
#header {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-top: 15px;
}
#subheader {
  font-size: 18px;
  text-align: right;
}
#location-date {
  text-align: center;
  margin-bottom: 15px;
}
#bottom-text {
  text-align: center;
  margin-top: 15px;
}
.reg-btn {
  background: transparent;
  border-width: 3px;
  border-radius: 0;
}
.social-btn {
  width: 28px;
  border-radius: 14px;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.center {
  text-align: center;
}
.center::-webkit-input-placeholder {
  text-align: center;
}
.center:-moz-placeholder {
  text-align: center;
}
.center::-moz-placeholder {
  text-align: center;
}
.center:-ms-input-placeholder {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.uppercase::-webkit-input-placeholder {
  text-transform: uppercase;
}
.uppercase:-moz-placeholder {
  text-transform: uppercase;
}
.uppercase::-moz-placeholder {
  text-transform: uppercase;
}
.uppercase:-ms-input-placeholder {
  text-transform: uppercase;
}
.navbar-fixed-top {
  position: relative;
}
