///////////////////////
// page.sidebar.html
///////////////////////
#page-sidebar {
    position: absolute;
    top: @view-container-top;
    left: 50%;
    transform: translate(-@index-sidebar-width / 2 - @index-view-width / 2, 0);
    width: @index-sidebar-width;
    ul{
        padding-left: 10px;
        li {
            list-style: none;
            margin-bottom: 10px;
            cursor: pointer;
            @color: #555555;
            a {
                color: @color;
                text-shadow: 0 1px 1px #FFFFFF;
                text-decoration: none;
                font-size: 13px;
            }
            a.active {
                font-weight: bold;
                span {
                    font-weight: bold;
                }
            }
            &:hover{
                a {
                    color: darken(@color, 30%);
                }
                .active {
                    color: @color;
                }
            }
        }
    }
}

